main{
    height: 100vh;
    background-color: #0f002e;
}

.rounded-bg{
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rounded-bg:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s;
}

.rounded-bg:not(:hover){
    transform: scale(1);
    transition: all 0.5s;
}

.test-colors{
    color: #000000
    #0f002e
    #190249
    #681cff
    #ffffff;


}